
body{
    background-color:#121212 ;
   
}
section{
    color :#ffff;
}
    

.jumbotron {
    padding-top: 1rem;
    background-color: #222222;
    color :aliceblue
}


/* tambahan untuk background wave */