
body{
    background-color:#121212 ;
   
}
section{
    color :#ffff;
    padding-top: 5rem;
}
    

.jumbotron {
    padding-top: 7rem;
    background-color: #222222;
    color :aliceblue
}
#project
{
    background-color: #E3E8EA;
}

/* tambahan untuk background wave */